<style>
div.list{
width:100%;
-webkit-animation-name:myfirst;
	-webkit-animation-duration:30s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-delay:1s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-play-state:running;
}
ul
{
width:100%;
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;

-webkit-animation-name:myfirst;
	-webkit-animation-duration:30s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-delay:1s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-play-state:running;
}
li
{
float:left;
-webkit-animation-name:myfirst;
	-webkit-animation-duration:30s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-delay:1s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-play-state:running;	
}
a:link,a:visited
{
display:block;
width:120px;
font-weight:bold;
color:#FFFFFF;

text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
background-color:white;
color:black;
}